body {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Kumbh Sans;
}

.fundo {
    display: flex;
    flex-direction: column;
    background: url(../images/bg-pattern-card.svg);
    justify-content: center;
    align-items: center;
    padding-top: 135px;
    width: 300px;
    border-radius: 10px;
}

.fundo .avatar {
    position: absolute;
    margin-bottom: 200px;
    border-radius: 50%;
    border: solid 5px white;
}

.fundo .perfil {
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

.perfil .nome {
    margin-top: 65px;
    font-size: 18px;
    font-weight: 500;
}

.perfil .peso {
    font-weight: 300;
    color: var(--cor-neutra);
}

.perfil .cidade {
    align-items: center;
    font-size: 10px;
    color: var(--cor-neutra);
    font-weight: 500;
    padding: 15px 0px;
}

.perfil .painel {
    padding: 15px 0px;
    border-top: solid rgba(128, 128, 128, 0.389) 1px;
}

.perfil .painel-seguidores {
    display: flex;
    flex-direction: row;
}

.perfil .info {
    display: flex;
    flex-direction: column;
    margin: 0px 29px;
    align-items: center;
    font-weight: 500;
}

.perfil .info-titulo {
    font-weight: 300;
    color: var(--cor-neutra);
    font-size: 10px;
    padding-top: 3px;
}

@media(max-width:375px) {
    .fundo {
        width: 250px;
    }

    .fundo .perfil {
        width: 250px;
    }

    .perfil .info {
        margin: 0px 21px;
    }
}